
/* imports text used on webpage */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


/* style of mood-graphic div (gradient results) */
 #mood-graphic {
 align-items: center;
 width: 100%;
 height: 100%;
 margin: 0px;
 display: flex;
 padding-left: 50; 
}  

/* style of mood result text (Determined mood: Sad/Happy/Energetic etc */
#mood-print {
  font-family: century gothic;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Border on mood-graphic animation around Key/Track Results */
@keyframes animated-border {
  0% {
    box-shadow: 0 0 0 0 rgba(255,255,255,0.4);
  }
  100%{
    box-shadow: 0 0 0 20px rgba(255,255,255,0);
  }
}

/* Background toggles between Key and Results when the button See Why? is pressed */
.background {
  background-image: url("/static/img/key4.jpg");
}

.background.toggle {
  background-image: url("/static/img/key3.jpg");
}

.results{
  visibility: hidden;
}

.results.toggle {
  visibility: visible;
}

/* Style of Button "See Why?" */
#button{
  font-size: 13;
  position: absolute;
  left: 160px;
  top: 580px;
  color: white;
  animation: glow 1.5s linear infinite;
  border-color: #ffffff;
  box-shadow: 0 0 15px yellow, 0 0 25px yellow;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.two {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
  border-color: #ffffff;
  /* color: #fff; */
  box-shadow: 0 0 10px 10px #4f4b42, 0 0 0 0 #4f4b42;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.two:hover {
  box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #ffffff;
}

/* Style of Button "Search Again" */
#buttonBack{
  font-size: 8px;
  position: absolute;
  left: 30px;
  top: -1px; 
  color: white;
  animation: glow 1.5s linear infinite;
  border-color: #ffffff;
  box-shadow: 0 0 15px yellow, 0 0 25px yellow;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.fourth {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
  border-color: #ffffff;
  color: #fff;
  box-shadow: 0 0 10px 10px #4f4b42, 0 0 0 0 #4f4b42; 
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.fourth:hover {
  box-shadow: #ffffff;
}

/* Style of track data results */
#mood-results{
  font-family: century gothic;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color: black;
  background-color: transparent;
}

/* Style of border on moodgraphic */
#song-results {
  justify-content: center;
  display: flex;
  background-size: 300px 600px;
  animation: animated-border 1.5s infinite;
  font-family: century gothic;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  padding: 15px;
  background-color: #18191f;
  width: 300px; 
  height: 600px;
}
  
/* Style of forum */
#track_search_input {
  margin: 0 auto;
  display: block;
  width: 500px;
  height: 20px;
  display: flex;
  justify-content: center;
}

/* Style of album covers */
#search_results{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 100px;
}

#track_search{
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}

/* Position of MOODTUNES letters */
#letters{
  margin: -1 auto;
  position: relative; 
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* style of submit button */
#submit {
  margin:  auto;
  display: block;
  position: relative;
}

#select-track {
  margin:  auto;
  display: block;
}


#select-track {
  padding: 0;
  margin: 0; 
  width: 100%;
  height: 100vh;
  background: #18191f;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
}

/* MoodTunes letter positioning */
ul {
  position: relative;
  display: flex;
}

li {
  list-style: none;
}

label {
  position: relative;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 80px;
  width: 80px;
  z-index: 100;
}

/* positioning of MOODTUNES letters */
div .letter {
  position: relative;
  height: 80px;
  width: 80px;
  background: #18191f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 20px;
  
}

/* response to click on MOODTUNES letters */
input[type="checkbox"]:checked ~ div {
  /* box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2); */
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}

/* glow animation of MOODTUNES letters */
@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* Submit button style */
.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Submit button hover */
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.third {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
  border-color: #ffffff;
  /* color: #fff; */
  box-shadow: 0 0 10px 10px #4f4b42, 0 0 0 0 #4f4b42;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #ffffff;
}