<html>
  <head>
      <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link type="text/css" rel="stylesheet" href="/static/css/index.css"/>
      <link type="text/css" rel="stylesheet" href="/static/css/graphic.css"/>

  </head>
 
<body>

    <section id = "select-track">
        
    <form id="track_search"> 
        <div id='letters'>
        <ul id='title'>
            <li>
              <input type="checkbox" checked />
              <div class='letter' >M</div>
            </li>
            <li>
              <input type="checkbox" checked/>
              <div class='letter' >O</div>
            </li>
            <li>
              <input type="checkbox" checked/>
              <div class='letter' >O</div>
            </li>
            <li>
              <input type="checkbox" checked/>
              <div class='letter' >D</div>
            </li>
            <li>
              <input type="checkbox" checked/>
              <div class='letter' >T</div>
            </li>
            <li>
              <input type="checkbox" checked/>
              <div class='letter' >U</div>
            </li>
            <li>
              <input type="checkbox" checked/>
              <div class='letter' >N</div>
            </li>
            <li>
                <input type="checkbox" checked/>
                <div class='letter'>E</div>
              </li>
              <li>
                  <input type="checkbox" checked/>
                  <div class='letter' >S</div>
                </li>
          </ul>
          </div>

      <p> 
          <p>
              <input type="text" placeholder="Search Track:" id="track_search_input" name= 'name'>
          </p>
          <p>
              <input  type="submit" class="btn third" value="Submit" id="submit">
          </p>
      </p>
    </form>

  <div id='search_results'></div>

</section>
<script src="/static/js/new_app.js"></script>
</body>
</html>